$gray: #b3c6d4;

.subjects {
    display: flex;
    flex-direction: column;
    width: 100%;
    .heading {
        color: $gray;
        padding: 1rem;
    }
    .main {
        flex: 1;  
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            
            input, button {
                width: 30rem;
            }
            button {
                height: 3.3rem;
            }
        }     
    }
    .cards {
        display: flex;
        a {
            flex: 1;
        }
    }
}